services:
  echo-journal:
    build: .
    ports:
      - ${HOST_PORT}:8000
    volumes:
      - /home/eoghann/docker/echo_journal/static:/app/static
      - /home/eoghann/docker/echo_journal/prompts.yaml:/app/prompts.yaml
      - ${DATA_DIR}:/journals
    environment:
      - TZ:${TZ}
      - ECHO_JOURNAL_HOST=0.0.0.0
      - ECHO_JOURNAL_PORT=8000
      # Uncomment to enable TLS inside the container
      # - ECHO_JOURNAL_SSL_KEYFILE=${TLS_KEY_PATH}
      # - ECHO_JOURNAL_SSL_CERTFILE=${TLS_CERT_PATH}
networks: {}
